@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter:wght@300&family=Lato:ital@1&family=Montserrat:wght@200&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* style the body */

body {
    font-family: Bitter, sans-serif;
    color: black;
}

/* Style the heading image */ 

#header-image {
    background: url(../images/pexels-ivan-samkov-4164645\ \(1\).jpg) no-repeat;
    background-position: center;
    width: 100%;
    height: 700px;
    opacity: 0.72;

}

/* Style the heading logo */ 

#logo {
    font-family: "Bebas neue", "sans serif";
    text-align: center;
    margin-top: 10px;
    color: #f5b09f;
    font-size: 600%;
    font-weight: 100;
    
}

/* navigation links */

#menu {
    font-size: 200%;
    text-align: center;
    padding-top: 20px;
    background-color: lightgray;
    width: 100%;
    height: 60px;
    
}

#menu li {
    display: inline;
    margin-right: 50px;

}

#menu a {
    color: black;
    text-transform: uppercase;

}

#menu a:hover {
    border-style: double;
    
}

/*cover text */

#cover-text {
    font-size: 120%;
    font-family: "Bebas neue", "sans-serif";
    font-weight: 100;
    color: #f5b09f;

    width: 300px;
    height: 200px;
    background-color:  rgba(60, 60, 60, 0.6);
    border-style: double;
    
    bottom: 200px;
    left: 20px;
    position: absolute;

    padding-top: 20px;
    padding-left: 40px;
    
    
}

#cover-text a {
    font-size: 200%;
    color: lightgray;
    font-family: Bitter, sans-serif;
    margin: 0 auto;
    text-transform: uppercase;
    
}

#cover-text a:hover {
    border-style: double;

}

/* Gymnastic Groups section */

.Gymnastic-groups-heading h2 {
    font-family: "Bebas neue", "sans sans-serif";
    font-size:400%;
    font-weight: 100;
    color:#f5b09f;
    text-align: center;
    margin-top: 30px;
}

#Gymnastic-groups {
    height: 900px;
   
}

#Men-image {
    background: url(../images/pexels-andrea-piacquadio-3763118\ \(1\).jpg) no-repeat;
    width: 33%;
    float: left;
    height: 800px;
    background-position: center;
}

#Women-image {
    background: url(../images/pexels-cottonbro-studio-9654742.jpg) no-repeat;
    width: 33%;
    float: right;
    height: 800px;
    background-position: center;
}

#Kid-image {
    background: url(../images/pexels-cottonbro-studio-9654742.jpg) no-repeat;
    width: 33%;
    margin: 0 auto;
    height: 800px;
    background-position: center;
}

.read-more {
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(60, 60, 60, 0.6);
    width: 100%;
    font-size: 200%;
    line-height: 80px;
}

.read-more a {
    color: lightgray;
    text-transform: uppercase;
}

.read-more a:hover {
    border-style: double;
}


/*style form-section here */

#form-section {
    height: 800px;
    margin-top: 20px;
}

.join-us-form {
    margin: 50px;
    padding: 100px;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    width: 30%;
    float: left;

}


#circle {
    width: 400px;
    height: 400px;
    padding: 30px;
    clear: none;
    background-color: #f5b09f;
    border-radius: 50%;
    margin-left: 900px;

}

#circle-container h2 {
    color: white;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: "Bebas neue", "sans-serif";
    font-size: 200%;
    font-weight: 100;
    color:#f5b09f;
}

.text-input {
    height: 30px;
    width: 50%;
    background-color: white;
    margin: 5px 0 20px 10px;
}

label {
    margin: 5px 0 20px 10px;
}

/* classes.html */

#read-about {
height: 600px;
margin: 0 40px;

}

#mens-gymnastic {
    padding: 40px;
    float: left;
    width: 20%;
    height: 400px;
    float: left;
    background-color: rgba(60, 60, 60, 0.9);
       
}

#womans-gymnastic {
    padding: 40px;
    width: 20%;
    height: 400px;
    float: right;
    background-color: rgba(60, 60, 60, 0.9);
    
}

#kids-gymnastic {
    padding: 40px;
    width: 20%;
    margin: 0 auto;
    height: 400px;
    background-color: rgba(60, 60, 60, 0.9);
    
}

#read-about h2 {
    color: #f5b09f;
    font-family: "Bebas neue", "sans-serif";
    font-size: 200%;
    font-weight:100;
}

#read-about p {
    color: white;
    font-size: 100%;
}

/* style footer here */

footer {
    height: 400px;
    background-color: rgba(60, 60, 60, 0.6);
}

footer ul {
    text-align: center;

}

footer ul li {
    display: inline;
    letter-spacing: 20px;
    
}

footer ul li i {
    font-size: 200%;
    color: #f5b09f;
    margin-top: 40px;
}

hr {
    width: 100%;
}

footer h2 {
    font-size:500%;
    text-align: center;
}

footer h3 {
    font-size: 110%;
    text-align: center;
}

#find-us {
    line-height: 50px;
}

/* screen size from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #form-section {
        height: 1400px;
        margin-top: 10px;
        width: 100%;
        
    }
    
    .join-us-form {
       max-width: 100%;
    }

    /* Gymnastic Groups section */

#Gymnastic-groups {
    height: 2500px;
   
}

#Men-image {
    width: 100%;

}

#Women-image {
    width: 100%;
  
}

#Kid-image {
    width: 100%;
    float: left;
 
}


.read-more h2 {
    text-align: center;
    width: 100%;
    
}


.read-more a {
   float: left;

}


}

/* for screen sizes from 950px and down */
@media screen and (max-width: 950px) {

/* Style the heading image */ 

#header-image {
    background-position: left;
    height: 1000px;

}

/* Style the heading logo */ 

#logo {
    float: left;
    margin-left: 10px;
    font-size: 400%;
    
}

/* navigation links header */

#menu {
float: left;

}

/* classes.html */

#read-about {
    height: 600px;
    margin: 0 auto;
    
    }
    
    #mens-gymnastic {
        padding: 10px 20px;
        float: left;
        width: 100%;
        height: 200px;
        
           
    }
    
    #womans-gymnastic {
        padding: 10px 20px;
        width: 100%;
        height: 200px;
        float: left;
    
    }
    
    #kids-gymnastic {
        padding: 10px 20px;
        width: 100%;
        float: left;
        height: 200px;
        
    }
    

}