@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter:wght@300&family=Lato:ital@1&family=Montserrat:wght@200&family=Oswald&display=swap');

#logo {
    float: left;
    font-family: Bebas neue;

}

#homepage-image {
    height: 600px;
    width: 100%;
    background: url(../images/rings_3.jpg) no-repeat center center;
    opacity: 0.72;
    background-size: cover;
}

